@use 'sass:math';


.card{
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid rgb(11, 11, 11);
    border-radius: $base-border-radius / 2;
    //border-radius: math.div($base-border-radius, 2);
    box-shadow: $base-box-shadow;
    .card-title {
        font-size: $base-font-size;
        padding-bottom : $base-padding;
        font-weight: bold;
    }
    .card-body{
        font-size: $base-font-size;
        a{
            text-decoration : none;
            &:link{
                color: rgba(255, 98, 0, 0.951);
            }
        }
        
    }
}


// math functions

@debug "Hello World";
@debug math.div(10, 3);
@debug math.floor(2.6);
@debug math.max(1px, 20px, 15px, 12px);
